<template>
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img v-bind:src="product.get_thumbnail">
                <h2>${{ product.price }}</h2>
                <p>{{ product.name }}</p>
                <router-link 
                v-bind:to="product.get_absolute_url" 
                class="btn btn-default add-to-cart"
                ><i class="fa fa-shopping-cart"></i>View details</router-link>
            </div>
            
        </div>
    </div>
</template>
<script>
export default {
  name: 'ProductBox',
  props: {
        product: Object
    }
}
</script>