<template>
    <div class="page-category">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <LeftSidebar/>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">{{ category.name }}</h2>
                    <p style="padding: 15px 0">{{ category.description }}</p>
                    <ProductBox 
                            class="col-sm-4"
                            v-for="product in category.products"
                            v-bind:key="product.id"
                            v-bind:product="product" />
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
import axios from 'axios'
import LeftSidebar from '../components/LeftSidebar.vue';
import ProductBox from '../components/products/ProductBox.vue'

export default {
    name: 'Category',
    components: {
        ProductBox,
        LeftSidebar
    },
    data() {
        return {
            category: {
                products: []
            }
        }
    },
    mounted() {
        this.getCategory()
    },
    watch: {
        $route(to, from) {
            if (to.name === 'Category') {
                this.getCategory()
            }
        }
    },
    methods: {
        getCategory() {
            const categorySlug = this.$route.params.category_slug

            axios
                .get(`/api/v1/products/${categorySlug}/`)
                .then(response => {
                    this.category = response.data

                    document.title = this.category.name + ' '
                })
                .catch(error => {
                    console.log(error)
                })

        }
    }
}
</script>