<template>
    <div class="page-checkout">
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                    </ol>
                </div><!--/breadcrums-->

                <div class="shopper-informations">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="alert alert-danger" v-if="errors.length">
                                <p v-for="error in errors" v-bind:key="error">{{ error }}</p>
                            </div>
                            <div class="shopper-info">
                                <p>Shipping Information</p>
                                <input type="text" placeholder="First Name" v-model="first_name">
                                <input type="text" placeholder="Last Name" v-model="last_name">
                                <input type="email" placeholder="Email" v-model="email">
                                <input type="text" placeholder="Phone" v-model="phone">
                                <input type="text" placeholder="Address" v-model="address">
                                <input type="text" placeholder="ZipCode" v-model="zipcode">
                                <input type="text" placeholder="City" v-model="place">
                            </div>
                        </div>	
                        <div class="col-sm-9">
                            <div class="review-payment">
                                <h2>Review & Payment</h2>
                            </div>

                            <div class="table-responsive cart_info">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="cart_menu">
                                            <td class="image">Image</td>
                                            <td class="description">Item</td>
                                            <td class="price">Price</td>
                                            <td class="quantity">Quantity</td>
                                            <td class="total">Total</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <CartItem
                                            v-for="item in cart.items"
                                            v-bind:key="item.product.id"
                                            v-bind:initialItem="item"
                                            v-on:removeFromCart="removeFromCart" />
                                    </tbody>
                                </table>
                            </div>
                        </div>		
                    </div>
                </div>
            </div>
        </section> <!--/#cart_items-->
        <section id="do_action">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <div class="total_area">
                            <ul>
                                <li>Cart Total <span>${{ cartTotalPrice.toFixed(2) }}</span></li>
                            </ul>
                            <template v-if="cartTotalLength">
                                <button class="btn btn-default update" @click="submitForm">Place Order</button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/#do_action-->
    </div>
</template>

<script>
import axios from 'axios'
import CartItem from '../components/CartItem.vue'
export default {
    name: 'Checkout',
    components: {
        CartItem
    },
    data() {
        return {
            cart: {
                items: []
            },
            card: {},
            first_name: '',
            last_name: '',
            email: '',
            phone: '',
            address: '',
            zipcode: '',
            place: '',
            errors: []
        }
    },
    mounted() {
        document.title = 'Checkout '

        this.cart = this.$store.state.cart
    },
    methods: {
        getItemTotal(item) {
            return item.quantity * item.product.price
        },
        submitForm() {
            this.errors = []

            if (this.first_name === '') {
                this.errors.push('The first name field is missing!')
            }

            if (this.last_name === '') {
                this.errors.push('The last name field is missing!')
            }

            if (this.email === '') {
                this.errors.push('The email field is missing!')
            }

            if (this.phone === '') {
                this.errors.push('The phone field is missing!')
            }

            if (this.address === '') {
                this.errors.push('The address field is missing!')
            }

            if (this.zipcode === '') {
                this.errors.push('The zip code field is missing!')
            }

            if (this.place === '') {
                this.errors.push('The place field is missing!')
            }

            if (!this.errors.length) {

                this.submitOrder()
            }
        },
        submitOrder() {
            const items = []

            for (let i = 0; i < this.cart.items.length; i++) {
                const item = this.cart.items[i]
                const obj = {
                    product: item.product.id,
                    quantity: item.quantity,
                    price: item.product.price * item.quantity
                }

                items.push(obj)
            }

            const data = {
                'first_name': this.first_name,
                'last_name': this.last_name,
                'email': this.email,
                'address': this.address,
                'zipcode': this.zipcode,
                'place': this.place,
                'phone': this.phone,
                'items': items,
            }

            axios
                .post('/api/v1/checkout/', data)
                .then(response => {
                    this.$store.commit('clearCart')
                    this.$router.push('/cart/success')
                })
                .catch(error => {
                    this.errors.push('Something went wrong. Please try again')

                    console.log(error)
                })
        }
    },
    computed: {
        cartTotalPrice() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.product.price * curVal.quantity
            }, 0)
        },
        cartTotalLength() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.quantity
            }, 0)
        }
    }
}
</script>