<template>
  <div>
    <HomeSlider/>
    <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <LeftSidebar/>
            </div>
            <div class="col-sm-9 padding-right">
              <HomeBlock/>
            </div>
          </div>
        </div>
      </section>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeSlider from '../components/HomeSlider.vue';
import LeftSidebar from '../components/LeftSidebar.vue';
import HomeBlock from '../components/HomeBlock.vue';
export default {
  name: 'Home',
  components: {
    HomeSlider,
    HomeBlock,
    LeftSidebar
  },
  mounted() {
    document.title = 'Home '
  },
}
</script>
