<template>
    <div class="page-my-account">
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">My Account</li>
                    </ol>
                </div><!--/breadcrums-->
            </div>
        </section>
        <div class="container">
            <h1 class="title">My account</h1>
            <button @click="logout()" class="button is-danger">Log out</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MyAccount',
    mounted() {
        document.title = 'My account '
    },
    methods: {
        logout() {
            axios.defaults.headers.common["Authorization"] = ""

            localStorage.removeItem("token")
            localStorage.removeItem("username")
            localStorage.removeItem("userid")

            this.$store.commit('removeToken')

            this.$router.push('/')
        }
    }
}
</script>