<template>
    <div class="page-product">
        <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <LeftSidebar/>
            </div>
            <div class="col-sm-9 padding-right">
              <div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                <img v-bind:src="product.get_image">
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h2>{{ product.name }}</h2>
								<span>
									<span>US ${{ product.price }}</span>
									<label>Quantity:</label>
									<input type="text" value="1" />
									<button 
                                        type="button" 
                                        class="btn btn-fefault cart"
                                        @click="addToCart()"
                                    >
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Details:</b> {{ product.description }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
import axios from 'axios'
import LeftSidebar from '../components/LeftSidebar.vue';
export default {
    name: 'Product',
    components: {
        LeftSidebar
    },
    data() {
        return {
            product: {},
            quantity: 1
        }
    },
    mounted() {
        this.getProduct() 
    },
    methods: {
        getProduct() {
            this.$store.commit('setIsLoading', true)

            const category_slug = this.$route.params.category_slug
            const product_slug = this.$route.params.product_slug

            axios
                .get(`/api/v1/products/${category_slug}/${product_slug}`)
                .then(response => {
                    this.product = response.data
                    console.log(this.product)

                    document.title = this.product.name + ' '
                })
                .catch(error => {
                    console.log(error)
                })
            
            this.$store.commit('setIsLoading', false)
        },
        addToCart() {
            if (isNaN(this.quantity) || this.quantity < 1) {
                this.quantity = 1
            }

            const item = {
                product: this.product,
                quantity: this.quantity
            }

            this.$store.commit('addToCart', item)
        }
    }
}
</script>