<template>
    <div class="page-search">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <LeftSidebar/>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Search term: "{{ query }}"</h2>
                    <ProductBox 
                            class="col-sm-4"
                            v-for="product in products"
                            v-bind:key="product.id"
                            v-bind:product="product" />
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
import axios from 'axios';
import LeftSidebar from '../components/LeftSidebar.vue';
import ProductBox from '../components/products/ProductBox.vue';

export default {
    name: 'Search',
    components: {
        ProductBox,
        LeftSidebar
    },
    data() {
        return {
            products: [],
            query: ''
        }
    },
    mounted() {
        document.title = 'Search '

        let uri = window.location.search.substring(1)
        let params = new URLSearchParams(uri)

        if (params.get('query')) {
            this.query = params.get('query')

            this.performSearch()
        }
    },
    methods: {
        async performSearch() {
            this.$store.commit('setIsLoading', true)

            await axios
                .post('/api/v1/products/search/', {'query': this.query})
                .then(response => {
                    this.products = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.commit('setIsLoading', false)
        }
    }
}
</script>