<template>
    <tr>
        <td class="cart_product">
            <router-link 
                :to="item.product.get_absolute_url">
                <img :src="item.product.get_thumbnail" height="100" width="100" alt="">
            </router-link>
        </td>
        <td class="cart_description">
            <h4>
                <router-link 
                :to="item.product.get_absolute_url">{{ item.product.name }}
                </router-link>
            </h4>
        </td>
        <td class="cart_price">
            <p>${{ item.product.price }}</p>
        </td>
        <td class="cart_quantity">
            <div class="cart_quantity_button">
                <a class="cart_quantity_up" @click="incrementQuantity(item)"> + </a>
                <input class="cart_quantity_input" 
                type="text" 
                name="quantity" 
                :value="item.quantity"
                readonly="readonly"
                autocomplete="off" 
                size="2">
                <a class="cart_quantity_down" @click="decrementQuantity(item)"> - </a>
            </div>
        </td>
        <td class="cart_total">
            <p class="cart_total_price">${{ getItemTotal(item).toFixed(2) }}</p>
        </td>
        <td class="cart_delete">
            <a class="cart_quantity_delete" @click="removeFromCart(item)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
</template>

<script>
export default {
    name: 'CartItem',
    props: {
        initialItem: Object
    },
    data() {
        return {
            item: this.initialItem
        }
    },
    methods: {
        getItemTotal(item) {
            return item.quantity * item.product.price
        },
        decrementQuantity(item) {
            item.quantity -= 1

            if (item.quantity === 0) {
                this.$emit('removeFromCart', item)
            }

            this.updateCart()
        },
        incrementQuantity(item) {
            item.quantity += 1

            this.updateCart()
        },
        updateCart() {
            localStorage.setItem('cart', JSON.stringify(this.$store.state.cart))
        },
        removeFromCart(item) {
            this.$emit('removeFromCart', item)

            this.updateCart()
        },
    },
}
</script>