<template>
  <header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<router-link to="/"><img src="../assets/images/home/logo.png" alt="" /></router-link>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<template v-if="$store.state.isAuthenticated">
								<li>
									<router-link 
									to="/my-account"><i class="fa fa-user"></i> My account</router-link>
								</li>
								</template>
								<li>
									<router-link 
									to="/cart/checkout"><i class="fa fa-crosshairs"></i> Checkout</router-link>
								</li>
								<li>
									<router-link 
									to="/cart"><i class="fa fa-shopping-cart"></i> Cart ({{ cartTotalLength }})</router-link>
								</li>
								<template v-if="$store.state.isAuthenticated">
								<li>
									<a  @click="logout()"><i class="fa fa-lock"></i> Log Out</a>
								</li>
								</template>
								
								<template v-else>
								<li>
									<router-link 
									to="/log-in"><i class="fa fa-lock"></i> Login</router-link>
								</li>
								<li>
									<router-link 
									to="/sign-up"><i class="fa fa-lock"></i> Sign Up</router-link>
								</li>
								</template>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
									<router-link to="/">Home</router-link>
								</li>
								<li 
									v-for="menu in menuItems"
									v-bind:key="menu.id"
									v-bind:product="menu">
									<a v-bind:href="menu.get_absolute_url">{{ menu.name }}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<form method="get" action="/search">
							<div class="search_box pull-right">
								<input type="text" name="query" placeholder="Search"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

</template>

<script>
import axios from 'axios'

export default {
  name: 'Header',
  data() {
    return {
      cart: {
        items: []
      },
	  menuItems:[]
    }
  },
  beforeCreate() {
    this.$store.commit('initializeStore')

    const token = this.$store.state.token

    if (token) {
        axios.defaults.headers.common['Authorization'] = "Token " + token
    } else {
        axios.defaults.headers.common['Authorization'] = ""
    }
  },
  mounted() {
    this.cart = this.$store.state.cart
	this.getMenuItems()
  },
  computed: {
      cartTotalLength() {
          let totalLength = 0

          for (let i = 0; i < this.cart.items.length; i++) {
              totalLength += this.cart.items[i].quantity
          }

          return totalLength
      }
  },
  methods: {
		getMenuItems() {

			axios
			.get('/api/v1/menu-categories/')
			.then(response => {
				this.menuItems = response.data
			})
			.catch(error => {
			console.log(error)
			})

		},
		logout() {
            axios.defaults.headers.common["Authorization"] = ""

            localStorage.removeItem("token")
            localStorage.removeItem("username")
            localStorage.removeItem("userid")

            this.$store.commit('removeToken')

            this.$router.push('/')
        },
	},
}
</script>