<template>
    <div>
        <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Features Items</h2>
            <ProductBox 
                class="col-sm-4"
                v-for="product in featuredProducts"
                v-bind:key="product.id"
                v-bind:product="product" />
        </div><!--features_items-->
        <div class="recommended_items"><!--Latest items-->
            <h2 class="title text-center">Latest items</h2>
            
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ProductBox 
                            class="col-sm-4"
                            v-for="product in latestProducts"
                            v-bind:key="product.id"
                            v-bind:product="product" />
                    </div>
                </div>
            </div>   
        </div>             
    </div>
</template>
<script>
import axios from 'axios'
import ProductBox from '../components/products/ProductBox.vue';
export default {
  name: 'HomeBlock',
  data() {
    return {
      latestProducts: [],
      featuredProducts: []
    }
  },
   components: {
    ProductBox
   },
   mounted() {
    this.getLatestProducts()
    this.getFeaturedProducts()
  },
   methods: {
    getLatestProducts() {

        axios
        .get('/api/v1/latest-products/')
        .then(response => {
          this.latestProducts = response.data
        })
        .catch(error => {
          console.log(error)
        })

    },
    getFeaturedProducts() {
        axios
        .get('/api/v1/featured-products/')
        .then(response => {
          this.featuredProducts = response.data
        })
        .catch(error => {
          console.log(error)
        })

    }
  }
}
</script>