<template>
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default"
                v-for="menu in allMenuItems"
                v-bind:key="menu.id"
                v-bind:product="menu"
            >      
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a v-bind:href="menu.get_absolute_url">{{ menu.name }}</a>
                    </h4>
                </div>
            </div>                          
        </div><!--/category-products-->
        
        <div class="shipping text-center" style="margin-bottom:10px"><!--shipping-->
            <img src="../assets/images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->
    
    </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'LeftSidebar',
  data() {
    return {
	  allMenuItems:[]
    }
  },
  mounted() {
	this.getAllMenuItems()
  },
  methods: {
		getAllMenuItems() {
            axios
			.get('/api/v1/all-categories/')
			.then(response => {
				this.allMenuItems = response.data
			})
			.catch(error => {
			console.log(error)
			})
        }
    }
}
</script>