<template>
  <div>
    <Header/>
    <main role="main" class="container">
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<style lang="scss">
@import './assets/css/bootstrap.min.css';
@import './assets/css/prettyPhoto.css';
@import './assets/css/price-range.css';
@import './assets/css/animate.css';
@import './assets/css/main.css';
@import './assets/css/responsive.css';
</style>
<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import axios from 'axios'
import './assets/js/bootstrap.min.js';
import './assets/js/jquery.scrollUp.min.js';
import './assets/js/price-range.js';
import './assets/js/jquery.prettyPhoto.js';
import './assets/js/main.js';
export default {
  name: 'app',
  components: {
    Header,
    Footer
  },
  data() {
    return {
      showMobileMenu: false,
      cart: {
        items: []
      }
    }
  },
  beforeCreate() {
    this.$store.commit('initializeStore')

    const token = this.$store.state.token

    if (token) {
        axios.defaults.headers.common['Authorization'] = "Token " + token
    } else {
        axios.defaults.headers.common['Authorization'] = ""
    }
  },
  mounted() {
    this.cart = this.$store.state.cart
  },
  computed: {
      cartTotalLength() {
          let totalLength = 0

          for (let i = 0; i < this.cart.items.length; i++) {
              totalLength += this.cart.items[i].quantity
          }

          return totalLength
      }
  }
}
</script>